@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap")

@mixin led($led-on: false)
    position: relative
    width: 20px
    margin:15px auto
    height: 20px
    border-radius: 10px
    box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, .75)
    @if $led-on
        background-color: #6dda6c
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, .75)
        -moz-box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, .75)
    @else
        background-color: rgba(60,68,100,0.742)
        -webkit-box-shadow: 0px 0px 15px 1px rgba(60,68,100,0.742)
        -moz-box-shadow: 0px 0px 15px 1px rgba(60,68,100,0.742)
        box-shadow: 0px 0px 15px 1px rgba(60,68,100,0.742)

@mixin button($is-on: false)
    position: absolute
    width: 70px
    height: 35px
    background-color: #95aaf3
    left: 70%
    top: 50%
    transform: translate(-50%, -50%)
    border-radius: 20px
    padding: 2px
    .toggle-btn
        background-color: white
        width: 50%
        height: 100% 
        border-radius: 50%
        transition: 0.5s
        .spinner
            margin: 5px
            transform: translateY(-50%)
            font-size: 25px
            text-align: center
            
    @if $is-on
        background-color: #4960ffdd 
        .toggle-btn
            background-color: #7ffec8
            margin-left: 50%
    @else
       background-color: #95aaf3
       .toggle-btn
            background-color: #eeeeeebb
            margin-right: 50%


.switch-bar
    position: relative
    margin: 10% auto
    width: 95%
    max-width: 600px
    height: 150px
    background-image: linear-gradient(to right bottom, rgb(163,161,246), rgb(98,40,198))
    border-radius:20px 
    .sub
        position: absolute
        height: 65%
        width: 44%
        left: 30%
        top: 50%
        text-align: center
        transform: translate(-50%, -50%)

        .switch-name
            font-size: 35px
            font-family: 'Indie Flower', italic

.switch-off
    .toggle
        @include button($is-on: false)
    .sub
        .led
            @include led($led-on: false)

.switch-on
    .toggle
        @include button($is-on: true)
    .sub
        .led
            @include led($led-on: true)
